@use 'variables' as v;

@mixin telefono{
    @media (min-width: v.$telefonos){
       @content;
    }
}

@mixin tablets{
    @media (min-width: v.$tablets){
       @content;
    }
}


@mixin desktops{
    @media (min-width: v.$desktops){
       @content;
    }
}

@mixin desktopsXL{
    @media (min-width: v.$desktopsXL){
       @content;
    }
}

// @mixin contenedor{
//     width: 95%;
//     max-width: 120rem; 
//     margin: 0 auto;
// }

@mixin grid($columnas: 1, $gap: 5rem){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}
